body {
	background-color: #eee;
	text-align: center;
	width: 1200px;
	margin: 0 auto;
	padding-top: 60px;
	font-family: 'Lato', sans-serif;
}

h1 {
	color: #3498db;
	font-size: 30px;
	display: flex
}

h2 {
	font-size: 16px;
	color: #2ecc71;
	margin-bottom: 40px;
}

p {
	color: #000;
	font-size: 12px;
}

body:last-child::after {
	content: "Koniec ";
	border-top: 1px dashed black;
	display: block;
	width: 150px;
	margin: auto;
	padding-top: 10px;
}